<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="bottom-text">
          <li><a class="page-link" href="{% t global.lang_path %}/{% t page_names.contribute %}/">{% t pages.contribute %}</a></li>
          <li><a class="page-link" href="{% t global.lang_path %}/{% t page_names.license %}/">{% t pages.license %}</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <ul class="bottom-text">
          <p class="bottom-text">{% t global.description %}</p>
        </ul>
      </div>
    </div>
  </div>

  </div>

</footer>
