<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="bottom-pages">
          <li><a class="page-link" href="/archive/ {{ prepend: site.baseurl }}">Archive</a></li>
          <li><a class="page-link" href="/about/ {{ prepend: site.baseurl }}">About</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-2">
        <ul class="bottom-pages">
          <li><a class="page-link" href="/contribute/ {{ prepend: site.baseurl }}">Contribute</a></li>
          <li><a class="page-link" href="/license/ {{ prepend: site.baseurl }}">License</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>

  </div>

</footer>
