<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="bottom-text">
          <li><a class="page-link" href="/archive/">Contribute</a></li>
          <li><a class="page-link" href="/about/">License</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-3">
        <ul class="bottom-text">
        <p class="bottom-text">{{ site.description }}</p>
        </ul>
      </div>
    </div>
  </div>

  </div>

</footer>
