                        <h1>leoditommaso.io</h1>
                        <h4>&#8220;{% t homepage.quote %}&#8221;</h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <a href="https://twitter.com/leoditommaso" class="social-network-link"><i class="fa fa-twitter fa-sn"></i></a>
                            </li>
                            <li>
                              <a href="https://www.facebook.com/leandroditommaso" class="social-network-link"><i class="fa fa-facebook fa-sn"></i></a>
                            </li>
                            <li>
                              <a href="https://github.com/leoditommaso" class="social-network-link"><i class="fa fa-github fa-sn"></i></a>
                            </li>
                            <li>
                              <a href="http://ar.linkedin.com/in/leandroditommaso" class="social-network-link"><i class="fa fa-linkedin fa-sn"></i></a>
                            </li>
                            <li>
                              <a href="http://leandroditommaso.com.ar" class="social-network-link"><i class="fa fa-camera fa-sn"></i></a>
                            </li>
                            <li>
                              <a href="mailto:leandro.ditommaso@mikroways.net" class="social-network-link"><i class="fa fa-envelope fa-sn"></i></a>
                            </li>
                        </ul>
