/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: $site-title-bg;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 20px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-weight: 300;
    color: $site-title-color;

    &,
    &:visited {
        color: $site-title-color;
    }
}

.page-links {
    color: $brand-color;
    line-height: $base-line-height;
    margin-bottom: 0px;
    font-size: 14px;
    // Gaps between nav items, but not on the first one
//        &:not(:first-child) {
//            margin-left: 20px;
//        }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }


    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            color: $brand-color;
            padding: 5px 10px;
        }
    }
}


.post-comments {
    margin-top: 100px;
}

/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper, .page-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1, .footer-col-2 {
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}

.bottom-pages {
    list-style-type: none;
    margin-left: 0px;
}

.footer-col-3 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
    text-align: right;
}

.nav-arrows,
.tags {
    display: block;
    font-size: smaller;
    margin-bottom: $spacing-unit;
}

.nav-page_number {
    position: relative;
    left: 40%;
}

.nav-left {
    float: left;
//    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//    width:         calc(100% - (#{$spacing-unit} / 2));
}

.nav-right {
    float: right;
//    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
//    width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(15% - (#{$spacing-unit} / 2));
        width:         calc(15% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(70% - (#{$spacing-unit} / 2));
        width:         calc(70% - (#{$spacing-unit} / 2));
    }

    .nav-left {
      float: left;
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .nav-right {
      float: right;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col-1,
    .footer-col-2 {
        float: none;
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-weight: 300;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 0px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.archives-entry {
    font-size: 16px;
    margin-bottom: 5px;
}

.fa {
    color: $site-title-color;
    padding-left: 3px;
    padding-right: 3px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.3;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: justify;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-excerpt {
    font-family: $font-text;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey-color-light;
    font-size: 15px;
    @include media-query($on-laptop) {
        font-size: 14px;
    }
}
